<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <xmlns="http://www.w3.org/1999/xhtml"></xmlns> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Report Card PLANOUS Web App for GBHS DZENG">
    <meta name="application-name" content="GBHSDZENG">
    <meta name="author" content="Noubissie Landry Placid">
    <meta name="robots" content="noindex follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="blue">
    <meta name="background-color" content="pink">
    <meta name="short-name" content="GBHS DZENG">

    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="{{url_for('static',filename='image/logo.jpeg')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='image/logo.jpeg')}}">

	  <!-- Apple -->
	  <meta name="apple-mobile-web-app-title" content="My Site">

	  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="grey">

	  <!-- Microsoft -->
	  <meta name="msapplication-TileColor" content="grey">
	  <meta name="msapplication-config" content="/favicons/browserconfig.xml">

    <meta name="name" content="PLANOUS">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="fb:app_id" content="123456789">
    <meta property="og:url" content="https://noubissie.pythonanywhere.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Report App GBHS DZENG">
    <meta property="og:image" content="{{ url_for('static',filename='image/2.jpg') }}">
    <meta property="og:description" content="Report Card Web App for GBHS DZENG">
    <meta property="og:site_name" content="GBHS DZENG APP">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome-free-5.11.2-web/css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome-free-5.11.2-web/css/v4-shims.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome-free-5.11.2-web/css/fontawesome.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <title>HOME</title>
</head>
<body>
    <div class="row m-0 p-0">
        <div class="col-3 bg-primary m-0 p-0" style="height:100vh">
            <h1 class="card-body">d</h1>
        </div>
        <div class="col-9 m-0 p-0 w-100 bg-info">
            <nav class="navbar border bg-primary w-100 m-0 p-0">
                <div class="navbar-brand">
                    <h1>fsldkf</h1>
                </div>
                <div class="nav-item">
                    a
                </div>
            </nav>
        </div>
    </div>




        <script rel="javascript" src="{{url_for('static',filename='js/base.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>