{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='sequence.css')}}">
    <title>Evaluation</title>
{% endblock head %}

{% block content %}

    <div class="container_td">Evaluation</div>
        <div class="home-decor1">
            {% for i in sequences %}
                    <a class="home-decor" style="width: 90%" href="/student/{{i.sequence}}">{{i.sequence}}</a>
            {% endfor %}
        </div>
{% endblock %}

{% block contentenglish %}
{% endblock contentenglish %}
{% block contentfrench %}

{% endblock contentfrench %}

{% block script %}
 {{super()}}
{% endblock script %}
