<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .blue{
    color:blue;
    border:solid black 10px;
}

.fail{
    color: red;
}

#report_container{
     border: solid 5px blue;
    height: 100%;
}

#sequence{
    text-align: center;
    /*border: solid black;*/
}
#sh1{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: white;background-color:blue;
    /*width: fit-content;*/
    border: solid blue;
}
#table-container{
    border: solid blue;
    width: 100%;
    border-collapse: collapse;
}
#tableaverage{
    width: 100%;
    border: blue 30px;

}
#student_name{
    border: solid blue;
    width: 100%;

    text-align: left;
}



.table2_in{

    border: solid black;
}



    </style>

</head>
<body style="margin:0px">


{% for k in range(length(student_inf2)) %}
        <div style="font-size:10px;">
            <div id="report_container">
                <div style="float:left;text-align:center">
                    <div>REPUBLIQUE DU CAMEROUN</div>
                    **************
                     <div>Paix – Travail – Patrie</div>
                    **************
                    <div>MINISTERE DES ENSEIGNEMENTS SECONDAIRES</div>
                    *******************
                    <div>DELEGATION REGIONALE DU CENTRE</div>
                    *******************
                    <div>DELEGATION DEPARTEMENTALE DU NYONG ET SO’O</div>
                    *******************
                    <div>LYCEE BILINGUE DE DZENG</div>
                    **********************
                    <div>B.P.06	Tél. :665 79 16 33</div>
                    *********************
                    <div>Email : lybidzeng@gmail.com</div>
                </div>

                <div style="float:right;text-align:center">
                   <div>REPUBLIC OF CAMEROON</div>
                    *****************
                   <div>Peace–Work–Fatherland</div>
                    ******************
                   <div>MINISTRY OF SECONDARY EDUCATION</div>
                    ******************
                    <div>REGIONAL DELAGATION FOR THE CENTRE</div>
                    *****************
                     <div>DIVISIONAL DELEGATION OF NYONG AND SO’O</div>
                    ****************
                     <div>GOUVERNEMENT BILINGUAL HIGH SCHOOL OF DZENG</div>
                    ****************
                     <div>POBOX : 06    Phone : 665 79 16 33</div>
                    ****************
                      <div>Email : lybidzeng@gmail.com</div>
                </div>
                <div style="height:fit-content; text-align:center;margin-top:0px">
                    <img style="width:200px; height:200px;border-radius:100%"  src='logo.jpeg'/>
                </div>
            <div style="font-size:15px;">
                <table id="student_name" >
                    <thead>

                        <tr style="padding: 2%;">
                            <td>Name/Noms:</td>
                            <td style="border-bottom: solid blue; padding: 1%;">{{ student_inf2[k].student_name }}</td>

                        </tr>
                        <tr>
                            <td>Academic Year/Annee scolaire:</td>
                            <td style="border-bottom: solid blue; padding: 1%;">{{ student_inf2[k].student_school_year }}</td>
                        </tr>
                        <tr>
                            <td>class:</td>
                            <td style="border-bottom: solid blue; padding: 1%;">{{ classs }}</td>
                        </tr>

                    </thead>
                </table>

                <div id="sequence">
                    <span id="sh1" >Second term<sup></sup>  EVALUATION</span>
<!--                    {#<span id="sh1" >Deuxieme trimestre </span>#}-->

                </div>
        {# <table style="border:solid blue 5px">
             <tr>
             <td style="border:solid blue">#}

                <table border="solid" id="table-container">
                    <thead style="color: rgb(50,50,50);text-align:center;">
                    <tr>
                        <td>Subject<br>Discipline</td>
                        <td>Mark/20<br>Note/20</td>
                        <td>coeff</td>
                        <td>N*coeff</td>
                        <td>Posit</td>
                        {#<td>Competence</td>#}
                        <td>Teacher's Appreciation<br>Appreciation des professeurs</td>
                        <td>Teacher/Professeur</td>
                    </tr>
                    </thead>
                    <tbody>
                            {% for subs in jsonl(clas.subject_thought) %}

                                <tr>
                                    <td>{{subs}}</td>
                                    {% for i in range(length(student_class_report(clas=classs, sequence=sequence, subject=subs))) %}

                                        {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[i].student_name == student_inf2[k].student_name %}


                                                    {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark <10 %}

                                                        <td style="color: red">{{student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark}}</td>
                                                        <td style="color: red">{{student_class_report(clas=classs, sequence=sequence, subject=subs)[i].coefficient}}</td>
                                                        <td style="color: red;">{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].coefficient *student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark }}</td>
                                                        <td style="color:red">{{ i++1 }}</td>
                                                       {# <td style="color: red;width:200px">{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].competence }}</td>#}

                                                            {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=10 %}
                                                                <td style="color: red;">Non Acquis</td>
                                                            {% elif 10 < student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=14 %}
                                                                <td style="color: red;">En cours d'acquisition</td>
                                                            {% elif 14< student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=17 %}
                                                                <td style="color: red;">Acquis</td>
                                                            {% elif 17< student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=20 %}
                                                                <td style="color: red;">Expert</td>
                                                            {% endif %}
                                                        <td style="color: red;">{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].staff_name.split(' ')[0].upper() }}</td>

                                                        {% else %}

                                                            <td style="color: black">{{student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark}}</td>
                                                            <td style="color: black">{{student_class_report(clas=classs, sequence=sequence, subject=subs)[i].coefficient}}</td>
                                                            <td style="color: black">{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].coefficient *student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark }}</td>
                                                            <td>{{ i++1 }}</td>
                                                            {#<td style="color: black;width:200px">{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].competence }}</td>#}
                                                            {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=10 %}
                                                                <td style="color: black;">Non Acquis</td>
                                                                {% elif 10 < student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=14 %}
                                                                    <td style="color: black;">En cours d'acquisition</td>
                                                                {% elif 14 < student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=17 %}
                                                                    <td style="color: black;">Acquis</td>
                                                                {% elif 17 < student_class_report(clas=classs, sequence=sequence, subject=subs)[i].mark<=20 %}
                                                                    <td style="color: black;">Expert</td>
                                                                {% endif %}
                                                                <td>{{ student_class_report(clas=classs, sequence=sequence, subject=subs)[i].staff_name.split(' ')[0].upper() }}</td>
                                                            {% endif %}

                                        {% endif %}
                                    {% endfor %}
                                </tr>

                            {% endfor %}

                    </tbody>
                </table>

            <table border="solid" id="tableaverage">
                <tfoot>
            {% for total, class_average in position(clasor = classs, sequen = sequence) %}
                {% for i in range(length(total)) %}

                    {% if total[i].student_name == student_inf2[k].student_name and total[i].student_class == classs %}
                        {% if (total[i].student_mark|float)/total[i].total_student_coeff >= 10 %}
                                <tr>
                                    <td style="width: 20%;">Total</td>
                                    <td>{{ total[i].student_mark }}</td>
                                    <td rowspan="3" style="text-align: center">posit</td>
                                    <td rowspan="3" style="text-align: center">{{ i++1 }}/{{ length(total) }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">Moyenne sequential<br>sequence average</td>

                                    <td ><span style="border:solid;border-radius:100%;padding:2%">{{ '%0.2f'% (total[i].student_mark|int/total[i].total_student_coeff) }}/20</span></td>

                                </tr>
                                <tr>
                                    <td style="width: 20%;">Moyenne General De La Classe<br>
                                    class average</td>
                                    <td><span style="border:solid;border-radius:100%;padding:2%">{{'%0.2f'%class_average|float }}</span></td>
                                </tr>
                                            {% break %}
                        {% elif (total[i].student_mark|float)/total[i].total_student_coeff  <10 %}
                                <tr >
                                    <td style="width: 20%;">Total</td>
                                    <td class="fail">{{ total[i].student_mark }}</td>
                                    <td rowspan="3" style="text-align: center">posit</td>
                                    <td class="fail" rowspan="3" style="text-align: center">{{ i++1 }}/{{ length(total) }}</td>
                                </tr>

                                <tr>
                                    <td style="width: 20%;">Moyenne sequential<br>sequence average</td>

                                    <td class="fail"><span style="border:solid;border-radius:100%;padding:2%;font-size:13px">
                                        {{ '%0.2f'% (total[i].student_mark|int/total[i].total_student_coeff) }}/20</span></td>

                                </tr>
                                <tr>
                                    <td style="width: 20%;">Moyenne General De La Classe<br>
                                    class average</td>
                                    <td class="fail"><span style="border:solid;border-radius:100%;padding:2%;font-size:13px">
                                        {{'%0.2f'%class_average|float}}</span></td>
                                </tr>
                                            {% break %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                </tfoot>
            </table>
          {#  </td>
        <td style="border:solid blue"> #}
            <table style="top:0px;width:100%">
                <tr style="width: 100%;">
                    <td class="table2_in" colspan="3">Discipline</td>
                    <td class="table2_in" colspan="9">Work/Travail</td>
                </tr>
                <tr>
                    <td class="table2_in" rowspan="2">Retards/Punishment</td>
                    <td class="table2_in">J</td>
                    <td class="table2_in" ><span style="margin:20px"></span></td>
                    <td class="table2_in">Politesse<br>Politeness</td>
                    <td class="table2_in" colspan="8">Appreciation<br>Appreciation</td>
                </tr>
                <tr>
                    <td class="table2_in">NJ/UNJ</td>
                    <td class="table2_in" ></td>
                    <td class="table2_in"></td>
                    <td class="table2_in" colspan="2">Non Acquis</td>
                    <td class="table2_in" colspan="2">En cours<br> d'acquisition</td>
                    <td class="table2_in" colspan="2">Acquis</td>
                    <td class="table2_in" colspan="2">Expert</td>
                </tr>
                <tr>
                    <td class="table2_in" rowspan="2">Absences<br>en heures/in hours</td>
                    <td class="table2_in">J</td>
                    <td class="table2_in"></td>
                    <td class="table2_in" rowspan="2">Application</td>
                    <td  colspan="8" style="text-align: left; border: solid black; ">
                        An effort is needed in:<br>
                        Un effort s'impose en:<br>
                    </td>

                </tr>
                <tr>
                    <td class="table2_in">NJ</td>
                    <td class="table2_in"></td>
                    <td  colspan="8" rowspan="5" style="font-size:10px;text-align: left; border: solid black; text-decoration: none; vertical-align: baseline ">


                {% for subs in jsonl(clas.subject_thought) %}
                    {% for j in range(length(student_class_report(clas=classs, sequence=sequence, subject=subs))) %}
                        {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[j].student_name == student_inf2[k].student_name %}
                            {% if student_class_report(clas=classs, sequence=sequence, subject=subs)[j].mark <11 %}
                                <div style="color:red; border-bottom: solid black; width: 100%;"> &cross; {{subs}}</div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                    </td>
                </tr>
                <tr>
                    <td class="table2_in" colspan="2">Retenues/Punishments<br>en heures/in hours</td>
                    <td class="table2_in"></td>
                    <td class="table2_in" rowspan="4"></td>
                </tr>
                <tr>
                    <td class="table2_in" colspan="2">Avertissement<br>Serious Warnings</td>
                    <td class="table2_in"></td>
                </tr>
                <tr>
                    <td class="table2_in" colspan="2">Exclusion<br>Temp Suspension<br>en jours/days</td>
                    <td class="table2_in"></td>
                </tr>
                <tr>
                    <td class="table2_in" colspan="2">Motif</td>
                    <td class="table2_in"></td>
                </tr>
                <tr>

                </tr>
            </table>
            <table style="width: 100%; text-align: center; border-collapse: collapse;">
        <tr style="color: white; background-color: blue" >
            <td class="table2_in" colspan="2">REMARK AND SIGNATURE OF CLASS MASTER<br>OBSERVATIONS ET VISA DU PROFESSEUR PRINCIPAL</td>
        </tr>
        <tr>
            <td class="table2_in"  colspan="2"><textarea style="width: 100%; height: 40px;" ></textarea></td>
        </tr>
        <tr style="color: white; background: blue;" >
            <td class="table2_in">REMARK AND SIGNATURE OF PARENT<br>OBSERVATIONS ET VISA DU PARENT</td>
            <td class="table2_in">REMARK AND SIGNATURE OF PRINCIPAL <br>OBSERVATION ET VISA DU CHEF D'ETABLISSEMENT</td>
        </tr>
        <tr >
            <td class="table2_in" ></td>
            <td class="table2_in" style=" text-align: left;">
                <div style="border-bottom: solid black;height:20px"></div>
                <div style="border-bottom: solid black;height:30px">DZENG,le</div>
            </td>
        </tr>

    </table>
            {#</td>#}
             {#</tr>#}
 {#   </table>#}
                </div>
</div>

        </div>

        <p style="page-break-after: always;"></p>

{% endfor %}
</body>

</html>